extends layout

block content
  header
    .header-content
      .header-content-inner
        h1#homeHeading 出BUG啦
  section.bg-warning
    h2.subheading= error.status
    pre.bg-warning.subheading #{error.stack}
