extends layout

block content
  nav(role="navigation").navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1").navbar-toggle
          span.sr-only navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href="#").navbar-brand Start
      div(id="bs-example-navbar-collapse-1").collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="#") Gallary