doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        title= title
        link(href="img/favicon.ico" rel="icon" type="image/x-icon")
        // Bootstrap Core CSS
        link(href='css/bootstrap.min.css', rel='stylesheet')
        // Custom Fonts
        //link(href='css/iconfont.min.css', rel='stylesheet', type='text/css')
        link(href='//at.alicdn.com/t/font_pry8de1rxb1hh0k9.css', rel='stylesheet', type='text/css')
        // Plugin CSS
        link(href='css/magnific-popup.css', rel='stylesheet')
        // Theme CSS
        link(href='//cdn.webfont.youziku.com/webfonts/nomal/97629/45803/58771ba9f629da13a4a8c7e5.css' rel='stylesheet' type='text/css')
        link(href='css/creative.min.css', rel='stylesheet')
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
          script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

    body#page-top
        div(style='margin:0 auto;width:0px;height:0px; overflow:hidden')
            img(src="img/header.jpg")
        block content
        script(src='/js/jquery.min.js')
        // Bootstrap Core JavaScript
        script(src='js/bootstrap.min.js')
        // Plugin JavaScript
        script(src='js/jquery.easing.min.js')
        script(src='js/scrollreveal.min.js')
        script(src='js/jquery.magnific-popup.min.js')
        // Theme JavaScript
        script(src='js/iconfont.js')
        script(src='js/creative.min.js')